sensitive/
data/sessions/
data/metadata/
__pycache__/
data/__pycache_/
chatbot_ads.egg-info/
.venv/
.python-version
.DS_Store
data/oasst_prompts.jsonl
data/sharegpt_histories.json
*/.DS_Store
dump.rdb
redis_data.json
website/.DS_Store
plots/
stats/
survey_data.json
selected_profiles.json
profiles.json
ad_profiles_consolidated.json
demographics.csv
all_profiles.json
consolidated.json
study_data.csv
outputs/
eval/eval_normal/
eval/eval_profiles/
outputs_backup/
outputs_profiles/
outputs/
Phi-4-Ads-8192/
unsloth_compiled_cache/
